header {
    background: $black;
    color: $white;
    padding: $gap;
}

a.logo {
    display: inline-block;
}

img.logo {
    height: 3.5em;
    vertical-align: middle;
}

.monitor.total {
    color: $black;
    background: $lime;
    margin: 0 2em;
    padding: $gap;
}

.value,
.unit,
.power,
.current {
    display: inline-block;
}

.power,
.current {
    padding: 0 $gap;
}

.value {
    font-size: ms(2);
}
