.socket {
    width: 50%;
    padding: $gap;
    float: left;
}

.number {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 5rem;
    font-size: ms(3);
    width: 5rem;
}

.data {
    display: inline-block;
    vertical-align: middle;
    line-height: 2.5rem;
}
