@import "normalize.scss/normalize";
@import "modular-scale/stylesheets/modular-scale";
@import "colors", "vars","fonts","header", "socket";

*, *:before, *:after {
    @include box-sizing(border-box);
}

body {
    font-family: "Titillium web", sans-serif;
    font-weight: 600;
}

.rounded {
    border-radius: 0.2em;
}
