@import "normalize.scss/normalize";
@import "colors", "vars","fonts","header";


body {
    font-family: "Titillium web", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}

.rounded {
    border-radius: 0.2em;
}
