<header>
<a href="#" class="logo">
    <%= image_tag "logo.svg", :alt=>"Open PDU", :class=>"logo"%>
</a>
    <span class="monitor total rounded">
        <span class="data icon">
            <span class="power">
                <span class="value">{{ totalPower | number:2 }}</span>
                <span class="unit">W</span>
            </span>
            <span class="current">
                <span class="value">{{ totalCurrent | number:2 }}</span>
                <span class="unit">A</span>
            </span>
        </span>
    </span>
</header>
