<header>
    <a href="#"><div class="logo"></div></a>
    <div class="monitor total">
        <div class="data icon">
            <div class="power">
                <div class="value" data-total-power></div>
                <div class="unit">W</div>
            </div>
            <div class="current">
                <div class="value" data-total-current></div>
                <div class="unit">A</div>
            </div>
        </div>
    </div>
</header>
